<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<title>Angular Animation</title>
	<link rel="stylesheet" href="src/bower_components/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet/less"  type="text/css" 
        href="css/main.less">
    <script src="src/bower_components/less/dist/less-1.5.1.js"></script>
    <link rel="stylesheet"
       href="src/bower_components/animate.css/animate.css">
       <script src="src/bower_components/modernizr/modernizr.js"></script>
</head>


</head>
<body ng-app="myApp">

	<div ng-controller="NgAnimateCtrl">
		<input ng-model="inputText" />
		<button ng-click="addItem()">add</button>
		<div class="item" ng-repeat="item in items | active">
			<input type="checkbox" ng-model="item.completed" />
			&nbsp;
			<span ng-bind="item.text"></span>
		</div>
	</div>

</div>

<!--(if target dev)>
<!-->
<script src="src/bower_components/jquery/dist/jquery.js"></script>
<script src="src/bower_components/angular/angular.js"></script>
<script src="src/bower_components/angular-animate/angular-animate.js"></script>
<script src="js/app.js"></script>
<script src="js/controllers.js"></script>
<script src="js/filters.js"></script>
<!--<!(endif)-->
<!--(if target dist)>
<script src="js/fun-with-ng-animate.js"></script>
<!(endif)-->
</body>
</html>