<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, 
        user-scalable=no">
    <title>Angular UI Template</title>
    <link rel="stylesheet" href="css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
</head>
  <body id="myApp">

<section id="map" ng-controller="MapCtrl">
    <div data-ui-map="myMap" data-ui-options="mapOptions"
        class="map-canvas"> 
    </div>
</section>
    <div class="container" data-ng-controller="helloWorldCtrl">
    <div class="row spacer-sm">
        <label class="col-xs-5 text-right" 
            for="fname">First Name</label>
        <input class="col-xs-7" type="text" id="fname" 
            data-ng-model="name.first"
            data-ui-event="{ focus: 'focusCallback()', 
                             blur : 'blurCallback()' }">
    </div>
    <div class="row spacer-sm">
        <label class="col-xs-5 text-right" 
            for="lname">Last Name</label>
        <input class="col-xs-7" type="text" id="lname" 
            data-ng-model="name.last"
            data-ui-keydown="{112:'helpKeyDown($event)'}">
    </div>
    <div class="row spacer-sm">
        <label class="col-xs-5 text-right" 
            for="phone">Phone</label>
        <input class="col-xs-7" type="tel" id="phone" 
            data-ui-mask="{{ mask }}" data-ng-model="name.phone">
    </div>
    <div class="row spacer-lg" data-ng-show="helpText">
        <div class="col-xs-2"></div>
        <div class="col-xs-8">{{ helpText }}</div>
    </div>
    <div ui-jq="tooltip" data-original-title="{{ tooltip() }}"
    class="row spacer-lg">
    <pre ng-style="modelStatus()" class="col-xs-12">
        <code>{{ getModel() }}</code>
    </pre>
</div>

    <!--(if target dev)><!-->
    <script src="js/vendor/angular.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/directives.js"></script>
    <script src="js/vendor/ui-utils.js"></script>
    <script src="js/vendor/jquery-1.11.0.js"></script>
    <script src="bower_components/angular/angular.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&callback=onGoogleReady"></script>
<script src="bower_components/angular-ui-map/src/map.js"></script>
<script src="js/vendor/angular.min.js"></script>
    <!--<!(endif)-->
    <!--(if target dist)><!-->
    <script src="js/fun-with-ui-utils.js"></script>
    <!--<!(endif)-->
  </body>
</html>