@time-scale: 10;
@enter-left: 1s;
@enter-left-delay: 1s;
@enter-top: 1s;
@enter-fade: 2s;
@leave-left: 1s;
@leave-top: 1s;
@leave-top-delay: 1s;
@leave-fade: 2s;


body {
    margin: 100px 40px;
    font-family: sans-serif;
}

@enter: 1s;
@leave: 1s;

.item {
    width: 230px;
    padding: 10px;
    margin: 10px 0;
    background: #cccccc;
    box-shadow: 5px 5px 5px #888888;
    font-weight: bold;
    position: relative;

}

.item.ng-enter {
  -webkit-animation: lightSpeedIn @enter;
  -moz-animation: lightSpeedIn @enter;
-ms-animation: lightSpeedIn @enter;
  animation: lightSpeedIn @enter;
}





.item.ng-enter.ng-enter-active {
    opacity: 1;
    left: 0;
    top: 0;
}

.item.ng-leave {
  -webkit-animation: lightSpeedOut @leave;
  -moz-animation: lightSpeedOut @leave;
  -ms-animation: lightSpeedOut @leave;
  animation: lightSpeedOut @leave;
}


.item.ng-leave.ng-leave-active {
    opacity: 0;
    left: 300px;
    top: 1500px;
}

.item.ng-enter-stagger,
  .item.ng-leave-stagger,
  .item.ng-move-stagger {
    -webkit-transition-delay: 0.1s;
      transition-delay: 0.1s;

    -webkit-transition-duration:0;
    transition-duration:0;
   }
